.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureVideo {
  height: 200px;
  width: 100%; /* Make video responsive within its container */
  max-width: 300px; /* Max width to prevent overly large videos */
  border-radius: var(--ifm-border-radius);
  object-fit: cover; /* Cover the area, cropping if necessary */
}
.footer {
  background-color: var(--ifm-footer-background-color) !important;
}
[data-theme='dark'] .footer {
  background-color: var(--ifm-footer-background-color) !important;
}
