.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.footer {
  background-color: var(--ifm-footer-background-color) !important;
}
[data-theme='dark'] .footer {
  background-color: var(--ifm-footer-background-color) !important;
}
